@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply min-h-screen;
    }

    h1 {
        @apply text-4xl dark:text-gray-100;
    }

    h2 {
        @apply text-3xl dark:text-gray-100;
    }

    h3 {
        @apply text-2xl dark:text-gray-100;
    }

    h4 {
        @apply text-xl dark:text-gray-100;
    }

    h5 {
        @apply text-lg dark:text-gray-100;
    }

    h6 {
        @apply text-base dark:text-gray-100;
    }

    p {
        @apply my-4 dark:text-white;
    }

    p:first-child {
        @apply mt-0;
    }

    p:last-child {
        @apply mb-0;
    }

    a {
        @apply text-blue-600 dark:text-blue-300 dark:decoration-blue-300 underline underline-offset-1;
    }

    nav a {
        @apply no-underline;
    }

    pre {
        @apply bg-gray-800 text-gray-100 p-3 rounded overflow-x-scroll;
    }

    hr {
        @apply my-6;
    }
}
